*{
    margin: 0px;
    padding: 0px;
}
/* =====================Home Container================= */
.home-section{
    height: 100vh;
    width: 100%;
    background-color: red;
}
nav{
    height: 150px;
    width: 100%;
    background-color: orange;
}
/* .home-down{
    height: 150px;
    width: 100%;
    top: 200px;
    background-color: orchid;
} */
/* =====================container-1================= */

 .container{
    height: 650px;
    width:auto;
    background-image: url(./asset/Images/shadow.png);
    background-size:cover;
    background-repeat: no-repeat;
}

.container h2{
    text-align: center;
    color:goldenrod;
    padding:20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.container p{
    text-align: center; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color: gray;
    padding: 20px;
} 

.flex-card{
    display: flex;
    justify-content: center; 
}

.card{
    background-color: rgb(100, 97, 97);
    height: 320px;
    width: 230px;
    margin: 25px;
}

.card-img{
    height: 170px;
    margin-bottom: 15px;
    background-size: cover; 
}

.card-1{
    background-image: url(./asset/Images/lets-1.png);
}

.card-2{
    background-image: url(./asset/Images/photo-1.png);
}

.card-3{
    background-image: url(./asset/Images/lets-3.png);
}

.card h3{
    padding: 10px;
    font-family:serif;
    color: white;
}

.card p{
    padding: 10px;
    font-family: sans-serif;
    color: white;
}

.container button{
    margin-left: 570px;
    border-radius: 50px;
    padding: 10px 50px;
    border: none;
    margin-top: 20px;
    font-size: 18px;
    font-family:serif;
    background-color: rgb(83, 81, 81);
    color: white;
}

button:hover{
    background-color: rgb(54, 51, 51);
}
/* =========================Container-1-End====================  */


/* ========================Second Page-Start================= */
.second{
    height: 760px;
    width: 100%;
}
.container-second{
    height: 380px;
    width: 100%;
    display: flex;
}
.flexbox{
    height: 380px;
    width: 50%;
}
.flexbox img{
    height: 380px;
    width: 100%;
}
.flexbox-4{
    height: 380px;
    width: 50%;
    background-color: rgb(130,119,111);
}
.flexbox-4 h4{
    padding-top: 60px;
    padding-left: 200px;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: white;
}
.flexbox-4 p{
    /* margin: 0px 75px; */
    padding-left: 200px;
    margin-top: 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #ffffff;
}
.flexbox-4 button{
    background-color:  #e2a355;
    color: white;
    border-radius: 50px;
    padding: 8px 30px 8px 30px;
    margin: 30px 200px;
    border-style: none;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
}

.container1{
    height: 380px;
    width: 100%;
    display: flex;
}
.flexbox-1{
    height: 380px;
    width: 50%;
    background-color: rgb(237,180,123);
}
.flexbox-1 h4{
    padding-top: 60px;
    font-size: 30px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
}
.flexbox-1 p{
    padding-top: 20px;
    padding-left: 260px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #ffffff;
}
.flexbox-1 button{
    background-color:  rgb(245,164,77);
    color: white;
    border-radius: 50px;
    padding: 8px 30px 8px 30px;
    margin: 30px 270px;
    border-style: none;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
}
.flexbox-2 img{
    height: 380px;
    width: 100%;
}
.flexbox-2{
    height: 380px;
    width: 50%;
}

/* ========================Second Page-Enf================= */

/* =======================container-2===================== */


    .container-1{
        width: auto;
        height: 400px;
        position: relative;
        /* margin:20px; */
        
    }

    .box{
        width:100%;
        height: 100%;            
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.9; 
        background-image: url(./asset/Images/design.png);
        background-position: left;
        background-repeat: no-repeat; 
        background-color: gray;

  }
    .stack-top{
        z-index: 9;
         background-image:url(./asset/Images/shadow.png);
        background-repeat: no-repeat; 
    }

   .container-1 h1{
    color:white;
    text-align: center; 
    padding-bottom: 20px;
    padding-top: 150px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-1 p{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color:white;
} 

  .container-2{
   
    height:800px;
    width: auto; 
     
 } 
  .img{
      height: 600px;
      width: auto;
      background-image: url(./asset/Images/Explore-img.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      /* margin: 20px 20px; */
  }
  
 
  .flex{
    display: flex;
    padding-top: 600px;

}

.flex-row{
    height: 300px;
    width: 400px;
    margin: 30px;
}

.flex-row h4{
    padding: 10px;
    font-size: 18px;
    color:rgb(175, 134, 30);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex-row p{
    padding: 10px;
} 
/* =======================container-2-End===================== */

/* ========================container-3================= */
    .container-3{
    height: 550px;
    width: auto;
}
span i{
    margin-left: 650px;
    font-size: 60px;
}

.container-3 p{
    text-align: center; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-3 h4{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 30px;
     padding-top: 30px;
    
} 

 .btn{
    height: 400px;
    width: auto;
    background-color:rgb(240, 137, 118);
    margin-top: 50px;


}

.btn h2{
    padding-top: 50px;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* .btn p{
       
} */


input[type="email"]{
    border-radius: 45px;
    padding-left: 20px;
    margin-left: 500px;
    padding-right: 15px;
    border: none;
    padding: 10px 10px;
    margin-top: 70px;
    width: 350px;

}
input[type="submit"]{
    border-radius: 45px;
    padding-left: 20px;
    margin-left: 600px;
    padding-right: 15px;
    border: none;
    padding: 10px 10px;
    margin-top: 70px;
    width: 120px;
 
}

input[type="email"]{
    color: white;
}

input[type="submit"]{
    background-color: gray;
    border: solid 1px grey;
    color: white;
    margin-left: -80px; 
    
}  

/* ========================Footer Section Start==================== */
.footer{
    height: 500px;
    width: 100%;
    display: flex;
    background-color: rgb(130,119,111);
}
.flexbox1{
    height: auto;
    width: 400px;
}
.flexbox1 h4{
    margin-top: 200px;
    padding-left: 130px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 1px;
}
.flexbox1 p{
    margin-top: 25px;
    padding-left: 130px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.icons a{
    color: rgb(130,119,111);
   padding: 2px;
   float: right;
   width: 31px;;
   height: 31px;
   border-radius: 100%;
   display: flex;
   background-color: white;
   margin-top: 20px;
   margin-right: 30px;
   text-decoration: none;
}
.icons a i{
    padding: 5px 8px 5px 8px;
}
.flexbox2{
    height: auto;
    width: 25%;
}
.flexbox2 h4{
    margin-top: 200px;
    padding-left: 150px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.flexbox2 ul li{
    display: block;
    margin-top: 12px;
    padding-left: 150px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.flexbox3{
    height: auto;
    width: 25%;
}
.flexbox3 h4{
    margin-top: 200px;
    padding-left: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.flexbox3 ul li{
    display: block;
    margin-top: 12px;
    padding-left: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.flexbox4{
    height: auto;
    width: 25%;
}
.flexbox4 h4{
    margin-top: 200px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.flexbox4 ul li{
    display: block;
    margin-top: 12px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
/* ========================Footer Section End==================== */


/* =======================container-3-End===================== */
/* @media only screen and (max-width: 600px) {

    .container{
        padding-left: 40px;
        padding-right: 30px;
    }
    
    .container h2{
        font-size: 40px;
        color:goldenrod;
        font-weight: bold;
    }
    
    .container p{
        font-size:20px;
    } 
    
    .flex-card{
        display: inline;
        padding: 50px 30px;
        margin-left: 50px; 
    }
     .card{
         width: 460px;
         height: 600px;
    }
    
    .card-img{
        height: 400px;
        margin-bottom: 15px;
        background-size: cover;
    }

    .card h3{
        padding: 50px;
        padding-top: 20px;
        font-size: 30px; 
    }

    .card p{
        font-size: 25px;
    }

    .container button{
    margin-left: 120px;
    }
    
  } */

  /* @media only screen and (min-width: 768px) {
    .container{
        padding-left: 55px;
        padding-right: 20px;
        
    }
    
    .container h2{
        font-size: 50px;
        color:goldenrod;
        font-weight: bold;
    }
    
    .container p{
        font-size:35px;
    } 
    
    .flex-card{
        display: inline;
    }
     .card{
         width: 600px;
         height: 800px;  
    }
    
    .card-img{
        height: 500px;
        margin-bottom: 15px;
        background-size: cover;
    }

    .card h3{
        padding: 50px;
        padding-top: 20px;
        font-size: 45px; 
    }

    .card p{
        font-size: 40px;
    }

    .container button{
    margin-left: 200px;
    font-size: 30px;
    padding: 20px 40px ;

    }
    
  }  */

   
  



 



    